package $package;

import javax.annotation.Generated;

import it.cosenonjaviste.csv.api.CsvSerializer;

/**
* @author CsvRenderedProcessor
*/
@Generated("it.cosenonjaviste.processors.CsvRenderedProcessor")
public class ${modelClass}CsvSerializer extends CsvSerializer<${modelClass}> {

    public ${modelClass}CsvSerializer() {
        super(new ${modelClass}CsvRenderer());
    }
}